*{
    MARGIN: 0;
    PADDING: 0;
}
.CABECALHO{
    BACKGROUND-COLOR: RGB(90, 100, 161);
    COLOR: rgb(136, 0, 163);
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: SPACE-AROUND;
    ALIGN-ITEMS: CENTER;
    PADDING: 24PX 0;
}
.CABECALHO-IMAGEM{
    WIDTH: 7%;
    BORDER-RADIUS: 50%;
}
.CABECALHO-LISTA-ITEM{
    DISPLAY: INLINE-BLOCK;
    MARGIN: 0 16PX;
    FONT-SIZE: 50PX;
}
